*{
    font-family: 'PT Sans Narrow', sans-serif;
}

body{
    background-image: url(../media/images/aceites.jpg);
}

.container__formulario{
    background-color: #1a2733;
    padding: 30px;
    border-radius: 10px;
}

.content{
    width: 600px;
    max-width: 730px;
    min-width: 350px;
}

.mb-3{
    padding: 0 30px;
}

.formulario__title{
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.form-label, .form-check-label{
    color: var(--color-primary);
}

.cta__formulario{
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.327) 0%, rgba(35, 34, 34, 0.302) 100%);
}

.cta__formulario:focus, .cta__formulario:hover{
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    box-shadow: 0 10px 10px rgb(255, 255, 255, .5);
    transition: all 0.2s ease;   
}