@media (max-width:600px) {
    .hero__title{
        font-size: 2rem ;
    }
    .hero__paragraph{
        font-size: 1rem;
    }
    .subtitle{
        font-size: 1.5rem;
    }
    .price__element{
        width: 90%;
    }
    .price__element--best{
        width: 90%;
    }
    .price__price{
        font-size: 2rem;
    }

    .testimony{
        --padding: 60px 0;
    }
    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }
    .testimony__arrow{
        width: 100%;
    }
    .testimony__course{
        margin-top: 15px;
    }
    .questions__title{
        font-size: 1rem;
        margin-bottom: 15px;
    }
    .footer__title{
        justify-self: flex-start;
    }
    .nav--footer{
        margin-bottom: 60px;
    }
    .nav__link--footer{
        justify-content: space-between;
    }
    .footer__inputs{
        flex-wrap: wrap;
    }
    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }
    .footer__submit{
        margin-right: auto;
    }
}
