/*Price service*/

.price{
    text-align: center;
}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price__element{
    background-color: #bebcb3;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1d293f;
    --bg-cta: #92aab3;
    --color-cta: #545454;
    --color-items: #696881;
}

.price__element--best{
    background-color:#92aab3 ;
    width: 360px;
    padding: 60px 40px;
    --color-plan: #e2e1ea;
    --color-price: #1d293f;
    --bg-cta:  #bebcb3;
    --color-cta: white;
    --color-items: white;
}

.price__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 1.5rem;
}

.price__price{
    font-size: 2rem;
    color: var(--color-price);
}

.price__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.price__cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 300;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0 ,0, 0, .5);
}

.testimony{
    background-color: #bebcb3;
}

.testimony__container{  
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;/*desaparece los elementos*/
    pointer-events: none;/*Para cuando pase el mause no los pueda seleccionar*/
}

.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: #92aab3;
    color: var(--color-primary);
    display: inline-block;
    padding: 5px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}