/*Price service*/

.price{
    text-align: center;
}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price__element:hover{
    transform: scale(1.1);
    transition: .3s;
}

.price__element{
    background-color: #bebcb3;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1d293f;
    --bg-cta: #92aab3;
    --color-cta: #545454;
    --color-items: #696881;
}

.price__element--best{
    background-color:#92aab3 ;
    width: 360px;
    padding: 60px 40px;
    --color-plan: #e2e1ea;
    --color-price: #1d293f;
    --bg-cta:  #bebcb3;
    --color-cta: white;
    --color-items: white;
}

.price__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 1.5rem;
}

.price__price{
    font-size: 2rem;
    color: var(--color-price);
}

.price__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.price__cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 300;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0 ,0, 0, .5);
}

.price__cta:hover{
    transform: translateY(-7px);
    transition: .3s;
    text-decoration: underline;
}